@import "tailwindcss";

@keyframes fade {
  from { opacity: 0; transform: translateY(6px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade {
  animation: fade 0.35s ease-in-out;
}
/* .wave {
  width: 6px;
  height: 20px;
  background: #ff69b4;
  margin: 0 3px;
  border-radius: 5px;
  animation: wave 1s infinite ease-in-out;
}

.wave:nth-child(2) { animation-delay: 0.1s; }
.wave:nth-child(3) { animation-delay: 0.2s; }
.wave:nth-child(4) { animation-delay: 0.3s; }
.wave:nth-child(5) { animation-delay: 0.4s; }

@keyframes wave {
  0% { height: 15px; }
  50% { height: 40px; }
  100% { height: 15px; }
} */

.voice-wave {
  display: flex;
  align-items: center;
  gap: 5px;
}

.wave-bar{
  width: 4px;
  height: 35px;
  background-color: #ec4899;
  border-radius: 4px;
  animation: wave 0.8s infinite ease-in-out;
}

.wave-bar:nth-child(1) { animation-delay: 0s; }
.wave-bar:nth-child(2) { animation-delay: 0.1s; }
.wave-bar:nth-child(3) { animation-delay: 0.2s; }
.wave-bar:nth-child(4) { animation-delay: 0.3s; }
.wave-bar:nth-child(5) { animation-delay: 0.4s; }
.wave-bar:nth-child(6) { animation-delay: 0.4s; }
.wave-bar:nth-child(7) { animation-delay: 0.3s; }
.wave-bar:nth-child(8) { animation-delay: 0.2s; }
.wave-bar:nth-child(9) { animation-delay: 0.1s; }
.wave-bar:nth-child(10) { animation-delay: 0s; }

@keyframes wave {
  0% { transform: scaleY(0.3); }
  50% { transform: scaleY(1); }
  100% { transform: scaleY(0.3); }
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ec4899;
  border-radius: 50%;
  animation: dotPulse 1.4s infinite ease-in-out;
}

.delay-200 { animation-delay: 0.2s; }
.delay-400 { animation-delay: 0.4s; }

@keyframes dotPulse {
  0%, 80%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}

.animate-bounceSlow {
  animation: bounce 2s infinite;
}
@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}

@keyframes bounce {
  0%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-8px); }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

.delay-0 { animation-delay: 0s; }
.delay-150 { animation-delay: 0.15s; }
.delay-300 { animation-delay: 0.3s; }

/* Slower robot bounce */
@keyframes bounceSlow {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-16px); }
  60% { transform: translateY(-8px); }
}

.animate-bounceSlow {
  animation: bounceSlow 2s infinite;
}

